body {
  margin: 0;
  padding: 0;
  background-position: 50% 50%;
}
div {
  margin: 0px;
}
#parent {
  display: grid;
  height: 95vh;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 1fr 0.2fr 2fr 0.2fr;
  text-align: center;
  grid-template-areas: "header header header"
                   "nav nav nav"
                   "aside main main"
                   "footer footer footer";
}
header {
  grid-area: header;
  background-image: url(/assets/images/bg/abyss\ bg.jpg);
  background-position: 50% 65%;
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  padding: 0px 20px;
}
header h1 {
  margin: 0;
  align-self: center;
  justify-self: center;
  font-family: "MedievalSharp", sans-serif;
}
header button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  align-self: self-end;
  justify-self: end;
}
button:hover {
  background-color: #555;
}
nav {
  grid-area: nav;
}
.nav-bar {
  background-color: #333;
  position: fixed;
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  justify-content: start, space-between;
}
.nav-bar ul {
  display: contents;
  list-style-type: none;
}
.nav-bar li a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 12px 12px;
  display: block;
}
.nav-bar li a:hover {
  background-color: #555;
}
aside {
  grid-area: aside;
  background-color: #555;
  background-position: 30% 30%;
  color: rgb(255, 255, 255);
  border: #000000 solid 3px;
  padding: 10px;
}
aside a {
  
}
main {
  grid-area: main;
  background-color: rgb(45, 167, 181);
}
footer {
  grid-area: footer;
  background-color: black;
}