*, *::before, *::after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
div {
  margin: 0px;
}
#parent {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 1fr 0.2fr 2fr 0.2fr;
  text-align: center;
  grid-template-areas: "header header header"
                   "nav nav nav"
                   "aside main main"
                   "footer footer footer";
}
header {
  grid-area: header;
  background-image: url(./images/bg/wallpapersden.com_artistic-sailing-ship-in-ocean_1920x1080.jpg);
  background-position: 100% 50%; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 20px;
}
header img {
  width: auto;
  height: 25vh;
  filter: brightness(130%);
  clip-path: circle(40%);
}
header h1 {
  margin: 0;
  align-self: center;
  justify-self: center;
  font-family: "MedievalSharp", sans-serif;
  color: rgb(106, 233, 106);
  text-shadow: 3px 3px 3px rgb(173, 63, 49);
  font-size: 3rem;
}
header button {
  background-color: #333;
  border: none;
  padding: 1vw 1.5vh;
  display: inline-block;
  margin: 1.5vw 1vh;
  cursor: pointer;
  align-self: self-end;
  justify-self: end;
  border-radius: 5px;
  transition: 1s;
}
header button a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "MedievalSharp", sans-serif;
  transition: 1s;
}
button a:hover {
  font-size: 1.4rem;
  color: rgb(173, 63, 49);
}
nav {
  grid-area: nav;
}
.nav-bar {
  background-color: #333;
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0;
}
.nav-item {
  flex: 1; 
  text-align: center;
}
.nav-item a {
  display: block; 
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Roboto", "Noto Serif JP", sans-serif;
  border-right: 1px solid #000;
  transition: 1s
}
.nav-item:last-child a {
  border-right: none;
}
.nav-item a:hover {
  color: rgb(173, 63, 49);
  font-size: 1.2rem;
}
aside {
  grid-area: aside;
  background-color: #555;
  color: rgb(255, 255, 255);
  border: #000000 solid 1px;
  padding:10px;
}
.aside-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start, space-between;
  text-align: center;
}
.aside-bar a {
  font-weight: 800;
  color: white;
  text-decoration: none;
  display: block;
  font-weight: 900;
  font-size: 1.7rem;
  font-family: "medievalSharp";
  text-align: center;
  padding: 20px 10px;
  text-shadow: 3px 3px 6px black;
}
.aside-bar a:hover {
  color: rgb(106, 233, 106);
  font-size: 1.9rem;
}
.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content:flex-start, space-around;
  font-size: 2rem;
}
.discord_link {
  color: #5865F2;

}
.discord_link:hover {
  color: #404EED;
}
.twitter_link {
  color: #000000;
}
.twitter_link:hover {
  color: #1DA1F2;
}
.insta_link {
  color: #E1306C;
}
.insta-link:hover {
  color: #C13584
}
main {
  grid-area: main;
  width: 100%;
}
.content-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content-overlay h2 {
  font-family: "MedievalSharp", sans-serif;
  color: rgb(255, 30, 0);
  font-size: 1.7rem;
  text-shadow: 3px 3px 3px rgb(106, 233, 106);
}
.content-overlay p {
  font-family: "Roboto", "Noto Serif JP", sans-serif;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
.background-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-image: url(./images/bg/index-bg.png);
  background-size: cover; 
  background-position: bottom right;
  background-repeat: no-repeat;
  filter: brightness(50%) contrast(95%);
  z-index: -1;
}
.content-overlay {
  position: relative;
  z-index: 1;
  padding: 2rem;
  color: white;
}
footer {
  grid-area: footer;
  background-color: rgb(15, 15, 15);
}
.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer p {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", "Noto Serif JP", sans-serif;
  text-align: left;
}
.footer-icons {
  display: flex;
  justify-content: center;;
  align-items: flex-end;
  gap: 2vw;
}
.footer-links {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: 1rem;
  font-family: "Roboto", "Noto Serif JP", sans-serif;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: "MedievalSharp", sans-serif;
}
.footer-links a:hover {
  color: rgb(173, 63, 49);
}