body {
  margin: 0;
  padding: 0;
  background-position: 50% 50%;
}
div {
  margin: 0px;
}
#parent {
  display: grid;
  height: 95vh;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 1fr 0.2fr 2fr 0.2fr;
  text-align: center;
  grid-template-areas: "header header header"
                   "nav nav nav"
                   "aside main main"
                   "footer footer footer";
}
header {
  grid-area: header;
  background-image: url(./images/bg/wallpapersden.com_artistic-sailing-ship-in-ocean_1920x1080.jpg);
  background-position: 50% 50%; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 20px;
}
header img {
  width: auto;
  height: 25vh;
  filter: brightness(130%);
  clip-path: circle(40%);
}
header h1 {
  margin: 0;
  align-self: center;
  justify-self: center;
  font-family: "MedievalSharp", sans-serif;
  color: white;
  text-shadow: 3px 3px 3px rgb(173, 63, 49);
}
header button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  align-self: self-end;
  justify-self: end;
  font-family: "MedievalSharp", sans-serif;
  border-radius: 5px;
}
button:hover {
  background-color: #555;
  color: rgb(173, 63, 49);
}
nav {
  grid-area: nav;
}
.nav-bar {
  background-color: #333;
  position: fixed;
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  justify-content: start, space-between;
}
.nav-bar ul {
  display: contents;
  list-style-type: none;
}
.nav-bar li a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 12px 12px;
  display: block;
}
.nav-bar li a:hover {
  background-color: #555;
  color: rgb(173, 63, 49);
}
aside {
  grid-area: aside;
  background-color: #555;
  background-position: 30% 30%;
  color: rgb(255, 255, 255);
  border: #000000 solid 3px;
  padding:10px;
}
.aside-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start, space-around;
  text-align: center
}
.aside-bar ul {;
  list-style-type: none;
}
.aside-bar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  padding: 12px 12px;
}
main {
  grid-area: main;
  background-color: rgb(45, 167, 181);
}
footer {
  grid-area: footer;
  background-color: black;
}
h2 {

}